page-message {
  .p-message {
    &__message {
      position: relative;
      width: 100%;
      height: 180px;
      img {
        position: absolute;
        z-index: 10;
        width: 100%;
        height: 100%;
      }
      &-body {
        position: absolute;
        z-index: 20;
        width: 100%;
        height: 100%;
        padding: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    &__answer {
      background-color: #fff;
      padding: 8px;
      &-user {
        display: flex;
        align-items: center;
        &-name {
          margin-left: 4px;
          text-align: center;
          font-size: 12px;
        }
      }
      &-message {
        padding: 12px;
        color: var(--ion-color-dark);
        font-size: 12px;
        text-align: left;
        white-space: pre-wrap;
      }
    }
  }
}
