user-profile {
  .c-user-profile {
    width: 100%;
    text-align: center;
    img {
      border: 2px solid var(--ion-color-light);
      object-fit: cover;
      border-radius: 50%;
    }
    &__name {
      font-size: 14px;
    }
    &__message {
      color: var(--ion-color-medium);
      margin: 6px 0px;
      font-size: 14px;
    }
  }
}